.git
node_modules
vendor
storage/*.key
.env
.idea
.vscode
docker-compose.yml
Dockerfile
.dockerignore
npm-debug.log
/public/storage
/public/build
/storage/app/public
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
